{% extends 'base.html' %}
{% block content %}

<style>
    p, h1, h2, h3, h4, h5 {
        text-align: center;
    }

</style>

<title>Info</title>

<!--============================================== BODY ======================================================-->

<body>


<br><br><br><br><br>
<br><br><br><br>
<h1><i><b> Bachelor thesis: Car counter</b></i></h1>
<p><i><b> Author: Richard Vacenovský</b></i></p>
<p><i><b> Supervisor: Ing. Alisa Benešová</b></i></p>
<p><i><b> University: Czech technical university - Faculty of information technology</b></i></p>
<p><i><b> Project is part of OpenDataLab</b></i></p>




<form action="url_for('detector')"></form>
</body>


{% endblock content %}
