{% extends 'base.html' %}
{% block content %}

<style>
    p, h1, h2, h3, h4, h5 {
        text-align: center;
    }

</style>

<title>Info</title>

<!--============================================== BODY ======================================================-->

<body>

<script>
    $.ajax({
        type: 'POST',
        url: '/pasta',
        data: {
            form_data: '{{form_data}}',
        },
        success: function() {
            window.location.replace('/pasta');
        }
      });
</script>
</body>





{% endblock content %}


